div {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
}

#root {
  border: 0px;
}

#floorplan {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas:
    "bedroom-1 half-bath kitchen"
    "living-room living-room living-room"
    "bedroom-2 full-bath bedroom-3";
  width: 500px;
  height: 400px;
}

#Full-bath { 
  grid-area: full-bath; 
  background-color: red;
}

#Half-bath { 
  grid-area: half-bath; 
  background-color: blue;
}

#living-room { 
  grid-area: living-room; 
  background-color: green;
}

#kitchen {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "oven sink"
    ". ."
    ". .";
  grid-area: kitchen;
  background-color: yellow;
}

#oven { grid-area: oven; 
  background-color: orange;
}

#sink { grid-area: sink; 
  background-color: pink; 
}

#bedroom-2 { 
  grid-area: bedroom-2; 
  background-color: purple;
}

#bedroom-1 { 
  grid-area: bedroom-1; 
  background-color: magenta;
}

#bedroom-3 { 
  grid-area: bedroom-3; 
  background-color: teal;
}
